.volunteers{
    margin-bottom: 30px;
    padding-top: 30px;
}

.slider{
    margin: 80px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.cardVolunteers{
    width: 280px;
    height: 510px;
}
.cardMedia{
    display: flex;
    justify-content: center;

    width: 200px !important;
}
.cardMedia img{
    width: 140px !important;
    border-radius: 50%;
}


.titleCard h4{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.contCard{
    display: flex;
    width: 220px;
}
.pCard{
    color: rgba(28, 56, 85, 0.80);
font-size: 16px;
font-family: Roboto;
font-weight: 300;

}

.detailP{
    height: 52px;
width: 40px;
margin-right: 10px;
margin-top: 3px;
background-color: #E61A6B;

}

/* Estilos para pantallas menores a 450px */
@media (max-width: 450px) {
    .slider {
      margin: 10px auto; /* Ajusta el margen para que las cards estén centradas */
    }
  }
  